<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
    <h1>This is the Todo Page
    </h1>

    <!-- <ul>
        <li>Temporary todo Item A</li>
        <li>Temporary todo Item B</li>
    </ul> -->

    <ul>
        {% for todo_item in all_items %}
            <li>{{ todo_item.content }}
                <form action="/deleteTodo/{{todo_item.id}}/" 
                    style="display: inline"
                    method="post">{% csrf_token %}
                    <input type="submit" value="Delete"/>
                </form>
            </li>
        {% endfor %}
    </ul>

    <form action="/addTodo/" method="post">{% csrf_token %}
        <input type="text" name="content" required="required"/>
        <input type="submit" value="Add"/>
    </form>
</body>
</html>